We start by importing the libraries that we will use

In [1]:
import pandas as pd

# 1.Preparing our data

In [2]:
path = "https://archive.ics.uci.edu/ml/machine-learning-databases/iris/iris.data"

We will read our iris data

In [3]:
dataset = pd.read_csv(path)
dataset.head()

   5.1  3.5  1.4  0.2  Iris-setosa
0  4.9  3.0  1.4  0.2  Iris-setosa
1  4.7  3.2  1.3  0.2  Iris-setosa
2  4.6  3.1  1.5  0.2  Iris-setosa
3  5.0  3.6  1.4  0.2  Iris-setosa
4  5.4  3.9  1.7  0.4  Iris-setosa

Then we set the variables for the data and for the classes

In [4]:
X = dataset.iloc[:, :-1].values
y = dataset.iloc[:, 4].values

We finally split our data into training and testing samples

In [5]:
from sklearn.model_selection import train_test_split
X_train, X_test, Y_train, Y_test = train_test_split(X, y, test_size = 0.40)

# 2.Training and exporting our KNN model

We start by importing our library, then we set our number of neighbors. And after that, we will train our data.

In [6]:
from sklearn.neighbors import KNeighborsClassifier


knn = KNeighborsClassifier(n_neighbors=8)

knn.fit(X_train, Y_train)

KNeighborsClassifier(n_neighbors=8)

And we're done. Let's test out our new model

In [7]:
new_dat = [[5.3, 3.4, 1.5, 0.1], [5.1,2.1,3.0,1.1]]



y_pred = knn.predict(new_dat)

print (y_pred)

['Iris-setosa' 'Iris-versicolor']

Now we will export our model

In [12]:
import pickle

with open('knn.pkl', 'wb') as model_file:
  pickle.dump(knn, model_file)